body {
	width: 960px;
	margin: auto;
}
#search {
	width: 450px;
	font-size: 20px;
	padding: 20px 20px 20px 20px;
	border-radius: 20px;
}
aside ul li {
	list-style: none; 
}
table {
	width: 890px;
	margin: auto;
}
#sort {
	text-align: right;
}
#update {
	text-align: right;
}
th {
	font-weight: bold;
}
table, td, th {
	border: 1px solid gray;
}