@charset "UTF-8";

body, header, nav, main, footer {
	display: block;
	border-radius: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
}

body {
	width: 1000px;
	margin: auto;
	font-family: Helvetica;
	font-size: 15px;
	font-style: bold;
	font-weight: 800;
	background-image: url("../images/bgimg.jpg");
	background-repeat: no-repeat;
	background-position: fixed;
	background-size: cover;
}

header {
	background-color: #00FF99;
	color: #000000;
}
a:link {
	color: #000000;
	text-decoration: none;
}
a:visited {
	color: #000000;
	text-decoration: none;
}
a:hover {
	color: #00FF99;	
}

#banner {
	padding: 20px 20px 50px;
}

#banner img {
	width: 30px;
}

#search {
	width: 450px;
	font-size: 15px;
	padding: 10px 10px 10px 10px;
	border-radius: 20px;
}

#navigate {
	background-color: #94B8B8;
}

#navigate ul li {
	padding: 7px;
	display: inline;
	font-size: 20px;
	font-variant: small-caps;
	font-weight: bold;
}

#navigate ul li a:hover{
	color: #00FF99;
}

#table {
	width: 100%;
}
th {
	width: 150px;
	height: 50px;
	font-weight: 900;
}
td {
	vertical-align: center;
}

table, th, td {
	border: 1px solid #94B8B8;
}

#content li{
	list-style: none;
}

#sort {
	text-align: right;
	margin-right: 70px;
}

#update {
	text-align: right;
	margin-right: 70px;
	border-radius: 20px;
}

#studrec {
	width: 850px;
	margin: auto;
}

#template {
	float: right;
}

#delEdit {
	text-align: right;
}
/*attendance checker*/
#myCanvas{
	margin:0 auto;
	display:block;
	position:absolute;
}
#form{
	position: absolute;
}
.student{
	background:gray;
	display:block;
	position:absolute;
	width:80px;
	height:40px;
	z-index:10;
	cursor:pointer;
}
.absent{
	background:blue;
}
.late{
	background: pink;
}
.studentName{
	position:relative;
	z-index:-1;
	cursor:pointer;
}

.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.classInfo{
	display:inline-block;
	margin-right:40px
}
#postCanvas{
	margin-top:625px;
}
footer {
	background-color: #94B8B8;
	clear: both;
	text-align: center;
	line-height: 20px;
	position: relative;
	
/*media querry for huge pc's*/
@media only screen and (max-width: 1280px) {
	body {
		width: 95%;
	}

	#search {
		width: 60%;
	}

	#template {
		float: right;
	}

	#navigate ul li {
		width: 10%;
	}

	#table {
		width: 95%;
	}

	#content {
		width: 99%;
	}

	#sort {
		width: 100%;
	}

	#update {
		width: 100%;
	}

	#studrec {
		width: 95%;
	}

	#x {
		width: 98%;
	}

	#delEdit {
		width: 100%;
	}

	footer {

	}
}
/*media querry for desktop*/
@media only screen and (max-width: 992px) {
	body {
		width: 95%;
	}

	#search {
		width: 60%;
	}

	#template {
		float: right;
	}

	#navigate ul li {
		width: 10%;
	}

	#table {
		width: 95%;
	}

	#content {
		width: 99%;
	}

	#sort {
		width: 100%;
	}

	#update {
		width: 100%;
	}

	#studrec {
		width: 95%;
	}

	#x {
		width: 98%;
	}

	#delEdit {
		width: 100%;
	}

	footer {

	}
}
/*media querry for tablet*/
@media only screen and (max-width: 968px) {
	body {
		width: 95%;
	}

	#search {
		width: 60%;
	}

	#template {
		float: right;
	}

	#navigate ul li {
		width: 10%;
	}

	#table {
		width: 95%;
	}

	#content {
		width: 99%;
	}

	#sort {
		width: 100%;
	}

	#update {
		width: 100%;
	}

	#studrec {
		width: 95%;
	}

	#x {
		width: 98%;
	}

	#delEdit {
		width: 100%;
	}

	footer {

	}
}
/*media querry for phone*/
@media only screen and (max-width: 480px) {
	body {
		width: 95%;
	}

	#search {
		width: 60%;
	}

	#template {
		float: right;
	}

	#navigate ul li {
		width: 10%;
	}

	#table {
		width: 95%;
	}

	#content {
		width: 95%;
	}

	#sort {
		width: 100%;
	}

	#update {
		width: 100%;
	}

	#studrec {
		width: 95%;
	}

	#x {
		width: 98%;
	}

	#delEdit {
		width: 100%;
	}

	footer {

	}
}