body {
	width: 960px;
	margin: auto;
	background-color: #D1E0E0;
	position: relative;
	top: 25px;
}
#header {

	text-align: center;
	color: #5F5F5F;
}

li {
	list-style: none;
}

#table {

	margin: auto;
}
#nav li{
	display: inline;

}
#nav {
	position: relative;
	left: 650px;
}


