

body {
	background-color: #FFFFD1
}
#header {
	text-align: center;
	color: #5F5F5F;
}

li {
	list-style: none;
}

#table {

	position: absolute;
	left: 45px;
}
#nav li{
	display: inline;
	
}

